
body{
  font-family: 'STIX Two Text', serif;
  background: linear-gradient(90deg, rgb(0, 0, 0) 33%, salmon 33%, salmon 66%, rgb(0, 0, 0) 66%);
}
header {
  max-width: 100%;
  background-color: salmon;
  color: white;
  padding-top: 15px ;
  padding-bottom: 15px;
  
}

ul {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

li {
  font-size: 30px;
  font-family: 'Staatliches', cursive;
}

li h1 {
  text-shadow: 7px 5px 1px rgb(0, 0, 0);
  padding: 5px;
}

h1 {
  font-size: 100px;
  font-family: 'Staatliches', cursive;
  background-color: rgb(61, 61, 61);
  border-radius: 15px;
  text-shadow: 5px 4px 1px rgb(255, 255, 255);
  margin: 5px;
  
}

#landing {
  background-image: url(../img/fishiespng.png);
  text-align: center;
  padding: 60px;
}

div {
  background-color: rgb(61, 61, 61);
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}

h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
  text-decoration: underline;
}

h4 {
  color: salmon;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: salmon;
  padding: 20px 0px;

}

h2 {
  background-color: salmon;
  font-size: 100px;
  text-align: center;
  color: white;
}

p {
  color: white;
  font-size: 20px;
}

article {
  display: flex;
  justify-content: space-around;
  padding: 8px;
}